/* img {
    width: 100%;
    height: auto;
  } */

@font-face {
    font-family: "Pamela";
    src: url("Pamela.otf") format("opentype");
 }

input {
    font-family: "Pamela";
    font-size: 170%;
    /* color: #ffffff; */
    /* width: 100% */
    
}

select {
    font-family: "Pamela";
    font-size: 130%;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

option {
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}

.background-image {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30px;
}

.child {
    position: absolute;
    top: 0;
    left: 0;
}

.enter-name-image {
    width: 20%;
    padding-top: 8%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.chatroomname {
    border-radius: 50px;
    border: 2px solid #ffffff;
    background-color: #e6e6e6;
    color: #000000;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 60%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    /* padding-top: 10%; */
    position: relative;
    top: 5px;
    padding: 1.75%;
    transition: .25s ease;
    /* -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out; */
    /* background-image: url('assets/name-fill-activated.png') */

}

.chatroomname:valid {
    background-color: #ff3431;
    color: #ffffff;
  }

.flip-over-image {
    width: 50%;
    padding-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

  /* .parent {
    position: relative;
  }

  .child {
    position: absolute;
    top: 0;
    left: 0;
  } */